.game-area{
    position: relative;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    border: 2px solid blue;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 8px 0 rgba(0,0,0,0.5);
    
}

.snake-dot{
    position: absolute;
    width: 2%;
    height: 2%;
    border-radius: 5px;
    background-color: black;
    border: 2px solid white;
    z-index: 2;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
}

.food-dot{
    position: absolute;
    width: 2%;
    height:2%;
    background-color: red;
    border: 2px solid rgba(red, green, blue, .5);
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.5);
    animation-name: food-anni;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes food-anni{
    0% {
        transform: scale(1.0);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1.0);
    }
}

.naming{
    background-image: linear-gradient(to right, blue,green,red,magenta);
    width: 50%;
    color: white;
    text-align: center;
    padding:5px;
    margin: 50px auto;
    border-radius: 50px;
    box-shadow: 0px 5px 3px 0 rgba(13, 101, 202, 0.5);
}